
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.bg-black {
    background-color: black;
    color: black;
}

.light {
    height: 75px;
    width: 75px;
}

#red-light {
    background-color: red;
    color: black;
    height: 75px;
    width: 75px;
}

#yellow-light {
    background-color: orange;
    color: black;
    height: 75px;
    width: 75px;
}

#green-light {
    background-color: green;
    color: black;
    height: 75px;
    width: 75px;
}

.light-body {
    height: 115px;
}

.selected {
    background: radial-gradient(#faecb7,black, transparent);
    z-index: 100;
}